### Postgresql ###
POSTGRESQL_USER=admin
POSTGRESQL_PASSWORD=admin
POSTGRESQL_DB=nakivojp
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=12000
### Redis ###
REDIS_HOST=localhost
REDIS_PORT=12001
### RabbitMQ ###
RABBITMQ_HOST=localhost
RABBITMQ_PORT=12002
RABBITMQ_MANAGEMENT_PORT=12003
### NAKIVOJP ###
SPRING_PROFILES_ACTIVE=dev
SLAVE_OWNER_PORT=9090
BLACK_SLAVE_PORT=9091
LATINO_SLAVE_PORT=9092
INDIAN_SLAVE_PORT=9093
